<div>
  <mat-grid-list cols="1" rowHeight="2.2:0.9">
    <mat-grid-tile *ngFor="let designPattern of designPatterns">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ designPattern.title }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ designPattern.src }}"
          alt="{{ designPattern.alt }}"
          width="auto"
          height="{{ designPattern.height }}"
        />
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
